.img-box {
    width: 450px;
    height: 300px;
    position: relative;

    img {
        width: 100%;
    }

    .img-next {
        position: absolute;
        top: 0;
        left: 0;
        // mask: conic-gradient(#000 40%, transparent 50%);
        animation: maskRotate 2s;
    }
}

@keyframes maskRotate {
    @for $i from 0 through 100 {
        #{$i}% {
            // mask: linear-gradient(45deg, #000 #{$i + '%'}, transparent #{$i + 5 + '%'});
            mask: radial-gradient(#000 #{$i + '%'}, transparent #{$i + 5 + '%'});
            // mask: conic-gradient(#000 #{$i + '%'}, transparent #{$i + '%'},transparent 1%);
        }
    }
}